@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}
html {
  overflow-x: hidden;
}

.cutted {
  clip-path: polygon(100% 20%, 100% 100%, 0 100%, 0 0)
}
@media (max-width: 700px) {
  .cutted {
    clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0 0)
  }
}


::-webkit-scrollbar-track
{
	background-color: rgb(14 5 15);
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: gray;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(74 30 158);
  border-radius: 10px;
}

.text-vertical {
  text-orientation: mixed;
  writing-mode: vertical-rl;
}

.text-mixed {
  text-orientation: upright;
  writing-mode: vertical-rl;
}